.modal {
    position: fixed;
    top: 30vh;
    width: 100%;
    z-index: 100;
    height: 30vh;
    overflow: hidden;
    background-color: #ffffff;
    color: black;
    transition: all 0.3s ease-in-out;
  }

  .header_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .header {
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
  }
  
  .modal_body{
    text-align: center;
    padding: 50px;
  }

  .body_text{
    font-size: 20px;
    font-weight: 400;
  }

  .close_btn {
    cursor: pointer;
    font-size: 40px;
    color: #817f7f;
    float: right;
    top: 0;
    right: 20px;
    position: absolute;
  }

  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  