.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  color: white;
}

.button {
  height: 25px;
  width: 70px;
  font-weight: 800;
  cursor: pointer;
}

.login-button {
  color: #fff;
  background-color: #00a826;
  cursor: pointer;
  border: none;
}

.register-button {
  color: #00a826;
  background-color: #ffffff;
  border: none;
  margin-left: 10px;
}

.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}



.footer {
  background-color: black;
  color: white;
  height: 15%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  opacity: 0.7;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.join-button {
  color: #fff;
  background-color: #00a826;
  border: none;
  margin-top: 5px;
  padding: 15px;
  width: 35vh;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

.offer {
  font-size: 13px;
  padding-top: 10px;
  text-transform: uppercase;
}

.figure {
  font-weight: 700;
  font-size: 23px;
  padding: 3px;
}

@media (max-height: 740px) {
  .offer {
    font-size: 13px;
    padding-top: 2px;
    text-transform: uppercase;
  }
  
  .figure {
    font-weight: 700;
    font-size: 18px;
    padding: 3px;
  }
}

@media (max-height: 667px) {
  .offer {
    font-size: 9px;
    padding-top: 2px;
    text-transform: uppercase;
  }
  
  .figure {
    font-weight: 700;
    font-size: 16px;
    padding: 3px;
  }

  .join-button {
    color: #fff;
    background-color: #00a826;
    border: none;
    margin-top: 5px;
    padding: 12px;
    width: 35vh;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px){
  .main-container {
    height: 100vh;
    background-position: 42% 100%;
    background-size: 60vh 91vh;
    background-repeat: no-repeat;
  }
}

