.tabs {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.tabs .tab-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
}

.tabs .tab-header > div {
    width: calc(100% / 5);
    text-align: center;
    font-weight: 600;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    color: #cecccc;
}

.tabs .tab-header>div.active {
    color: #fff;
}

.tabs .tab-indicator {
    position: absolute;
    width: calc(100% / 5);
    height: 3px;
    background-color: #00a826;
    left: 0px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    top:38px;
}

.tabs .tab-body {
    position: relative;
    padding: 0px 20px;
    height: 80vh;
    padding: 5px 15px;
}

 .tabs .tab-body > div {
    position: absolute;
    top: -200%;
    opacity: 0;
    margin-top: 5px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.tabs .tab-body > div.active {
    top: 0px;
    opacity: 1;
    transform: scale(1);
    margin-top: 0px;
} 