.modal {
  position: fixed;
  top: 29vh;
  width: 100%;
  z-index: 100;
  height: 42vh;
  overflow: hidden;
  background-color: #ffffff;
  color: black;
  transition: all 0.3s ease-in-out;
}

.header_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.header {
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
}

.customer {
  font-size: 13px;
  font-weight: 500;
  padding-left: 5px;
}

.register {
  color: #00a826;
  text-decoration: underline dashed;
  cursor: pointer;
}

.input_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 15px;
}

.form_group {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.input {
  padding: 12px;
  border-radius: 5px;
  outline: none;
}

.invalid_input {
  border: 1px solid red;
}

.valid_input {
  border: 1px solid #ccc;
}

.login_btn {
  margin-top: 10px;
  background-color: #00a826;
  color: white;
  border: none;
  padding: 12px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 800;
  width: 22vh;
}

.login_header {
  padding: 5px;
}

.forgot_password {
  padding-top: 10px;
  font-weight: 800;
  cursor: pointer;
  color: #00a826;
}

.actions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_btn {
  cursor: pointer;
  font-size: 40px;
  color: #817f7f;
  float: right;
  top: 0;
  right: 20px;
  position: absolute;
}

.error_msg {
  color: red;
}

.auth_error {
  color: red;
  font-size: 12px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;
}

 .loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #00a826;;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}